/*右侧最上面导航*/
.titlt{
    width: 100%;
    height: 48px;
    position: absolute;
    top: 0px;
    z-index: 5;
    background: #f2f6f9;
    border-bottom: solid #0090f4 2px;
}
.titlt ul{
    width: 300px;
    height: 48px;
}
.titlt ul li{
    float: left;
    width: 90px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    border-right: 1px solid #fff;
}
.titlt ul  #first{
    width: 68px;
    background: #f2f6f9;
}
.activeTitle a{
    color: #0597f4;
}
.fresh{
    width: 16px;
    height: 16px;
    border: 1px solid #8C8C8C;
    margin: 18px 12px;
}
#myTab .breadcrumb{
    /*background: #f2f6f9;*/
    padding: 8px 0px;
}
/*中间*/
.countryContainer{
    background: #f2f6f9;
    width: 100%;
    padding: 14px 14px 0 14px;
    position: absolute;
    top: 48px;
    bottom: 14px;
    /*z-index: 10;*/
    overflow: auto;
}
.cen{
    height: 100%;
}
.cenTop{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}
.cenTopL{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    padding-top: 18px;
    font-size: 12px;
}
.cenTopLeft{
    width: 40%;
}
.cenTopLeftR{
    width: 60%;
}
.cenTopR{
    width: 10%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    color: #0d70b4;
}
.cenTopR p span a{
    color: #f4837e;
    cursor: pointer;
}
.cenTopR p{
    text-align: center;
     line-height: 30px;
}
.s-input {
    width: 40%;
    height: 32px;
    padding: 0 0 0 10px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    outline: none;
    border: #d0d0d0;
    -webkit-box-shadow: 0px 0px 3px #757575;
    box-shadow: 0px 0px 3px #757575;
    -moz-border-radius: 3px;
}
.s-button {
    width: 12%;
    height: 34px;
    border: none;
    background-color: #259bf1;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    margin-left: -3px;
}
#countryTallSearch{
    width: 14%;
    margin-left: 2px;
    color: #fff;
    border-radius: 3px;
}
select {
    width: 12%;
    height: 32px;
    padding: 0 0 0 5px;
    border-radius: 4px;
    outline: none;
    border: #d0d0d0;
    -webkit-box-shadow: 0px 0px 3px #757575;
    box-shadow: 0px 0px 3px #757575;
    -moz-border-radius: 3px;
    margin-right: 5px;
}
.sure {
    width: 9%;
    height: 32px;
    background: #2fa3f8;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    margin-left: 10px;
}
.navOne{
    width: 100%;
    height: 40%;
}
.navtitle{
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #eef2f5;
}
.titleLine{
    padding-left: 18px;
    border-left: 4px solid #2ea2f7;
    font-size: 16px;
}
.tool span {
    width: 84px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 4px;
    margin-right: 2px;
    display: inline-block;
    cursor: pointer;
}
.out {
    display: inline-block;
    background: url(../../img/industry/out.png) no-repeat 10px center;
    border: 1px solid #f3736d;
    color: #f3736d;
}
.print {
    background: url(../../img/industry/print.png) no-repeat 10px center;
    border: 1px solid #53b4dd;
    color: #53b4dd;
}
.navOneL,.navOneR {
    width: 49%;
    height: 100%;
    min-height: 300px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}
.titleLineMore{
    color: #249af0;
    font-size: 12px;
    cursor: pointer;
}
.navTable{
    margin: 2%;
    min-width: 468px;
    overflow-x: auto;
}
.navTable table{
    min-width: 590px;
    overflow-x: auto;
    font-size: 12px;
}
.navTwo{
    width: 100%;
    height: 50%;
}
.navTwoL,.navTwoR{
    width: 49%;
    height: 100%;
    min-height: 300px;
    background: #fff;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    margin-top: 12px;
}
.navTwoL .navTable,.navTwoR .navTable{
    min-width: 468px;
    height: 236px;
    overflow: auto;
}
/*高级搜索*/
.modal-body{
    padding: 0;
}
.modal-header{
    border-bottom: none;
}
.modal-footer{
    border-top: none;
}
#searchTallTab{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    height: 44px;
    font-size: 14px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #249af0;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom-color: transparent;
}
.nav-tabs>li a{
    color: #333;
}
.modalTable{
    height: 600px;
}
.menuBox{
    width: 40%;
    height: 500px;
    border-right: 2px solid #ccc;
    margin-top: 20px;
    overflow-y: auto;
}
.areaContent{
    width: 56%;
    height: 100%;
    margin-top: 20px;
    margin-left: 20px;
}
.contentRightSearch{
    width: 80%;
}
.searchIcon{
    margin-left: -16px;
    color: #ddd;
    cursor: pointer;
    font-size: 14px;
}
.searchList{
    width: 80%;
    height: 466px;
    padding-top: 18px;
    overflow-y: auto;
    color: #666666;
}
.searchListTitle{
    font-size: 14px;
    height: 30px;
}
.searchListBox{
    width: 100%;
    height: 410px;
    overflow-y: auto;
}
.searchListBox span{
    margin-right: 14px;
}
.dateContent{
    width: 86%;
    height: 86%;
    margin-top: 7%;
    margin-left: 7%;
}
.chooseYear,.chooseMonth,.chooseSeason{
    width: 100%;
    height: 82px;
}
.dateTitle{
    height: 28px;
    font-size: 14px;
    color: #666666;
}
.searchResult{
    width: 100%;
    height: 100%;
    min-height: 520px;
    overflow-y: auto;
    background: #fff;
}
.backList{
    text-align: center;
    border: 1px solid #33b8b8;
    border-radius: 4px;
    font-size: 14px;
    color: #33b8b8;
    cursor: pointer;
}
.yearList li a{
    cursor: pointer;
    padding: 6px 6px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #67bce1;
}
.yearList>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #67bce1;
}




















